/* Start CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
}

textarea:not([rows]) {
  min-height: 10em;
}

:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

:target {
  scroll-margin-block-start: 5ex;
}
/* End CSS Reset */

/* Start Global Styles */

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 800;
  font-style: normal;
}

:root {
  --purple-100: #f9f0ff;
  --purple-600: #8c6991;
  --purple-950: #2f1533;
}

body {
  position: relative;
  font-family: "Work Sans", sans-serif;
  background-color: var(--purple-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body::before {
  width: 100%;
  height: 14.5rem;
  content: "";
  position: absolute;
  top: 0;
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

main {
  max-width: 40rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  margin: 8rem 2rem;
  gap: 2rem;
}

.faq-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--purple-950);
}
